.psColumn{
	width: 440px;
}
.productssolutions{
	position: relative;
	zoom: 1;
}
.latestNews{
	position: relative;
	zoom: 1;
}
.amazon_scroller_mask{
	position: relative !important;
	zoom: 1 !important;
}
.amazon_scroller_slider{
	position: relative;
	zoom: 1;
}
.amazon_scroller_mask ul li{
	position: relative;
	zoom: 1;
	width: 215px;
}

.bottomZones{
	position: relative;
	zoom: 1;
}
.footer{
	position: relative;
	zoom:1;
}
.zone{
	width: 200px;
}
.newsUnderline  img{
	left: 0;
}